.App {
  margin-bottom: 20px;

  .preview {
    padding: 20px;

    > h2 {
      margin-bottom: 16px;
    }
  }

  .congratulations {
    padding: 0 20px;

    h1 {
      margin-bottom: 16px;
    }

    button:not(:last-child) {
      margin: 8px 0 16px 0px;
    }
  }

  > .printable {
    display: none;
  }

  @media print {
    > *:not(.printable) {
      display: none;
    }

    .printable {
      display: block;
    }
  }

  @media only screen and (min-width: 768px) {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 4fr 3fr;

    .TopNavBar {
      grid-column: 1 / -1;
    }

    .preview {
      padding-top: 0;
    }
  }
}
