.App {
  .preview {
    padding: 20px;

    > h2 {
      margin-bottom: 16px;
    }
  }

  > .printable {
    display: none;
  }

  @media print {
    > *:not(.printable) {
      display: none;
    }

    .printable {
      display: block;
    }
  }
}
