.cv {
  max-width: 1200px;
  aspect-ratio: 210 / 297;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
  position: relative;

  ul {
    list-style-type: none;
  }

  section,
  footer {
    margin: 3em;
  }

  footer {
    position: absolute;
    bottom: 0;
    right: 0;

    p {
      font-size: 0.6em;
    }
  }

  h1 {
    font-size: 2.2em;
  }

  h2,
  h4 {
    text-transform: uppercase;
    letter-spacing: 0.125em;
  }

  h2 {
    font-size: 1.8em;
    font-weight: 400;
    border-bottom: 0.125em solid black;
  }

  h4 {
    width: 9em;
    font-size: 1em;
    font-weight: 400;
    border-bottom: 0.08em solid black;
    margin-top: 0.5em;
  }

  section > ul {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    > li > ul {
      margin: 0.4em 0.4em 0 0.2em;
      display: flex;
      flex-direction: column;
      gap: 0.1em;
    }
  }

  .personal-details p {
    display: flex;
    gap: 0.5em;
    font-size: 1.2em;
  }

  .bullet {
    margin-right: 0.4em;
  }

  @media print {
    width: 793.7px;
    box-shadow: none;

    footer {
      display: none;
    }
  }
}
