.Footer {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 8px;

  .icon {
    font-size: 1.4em;
    cursor: pointer;
    color: black;
  }

  @media only screen and (min-width: 768px) {
    justify-content: center;
  }
}
