.Footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 4px;

  a {
    color: black;
  }

  .made-by {
    display: flex;
    align-items: center;
    gap: 8px;

    .icon {
      font-size: 1.4em;
      cursor: pointer;
    }
  }

  @media only screen and (min-width: 768px) {
    p {
      text-align: center;
    }

    .made-by {
      justify-content: center;
    }
  }
}
