.LabeledInput {
  display: flex;
  flex-direction: column;
  gap: 4px;

  input,
  select {
    height: 40px;
    padding: 4px 8px;
    font-size: 1.2rem;
    color: black;
    border: 1px solid grey;
    border-radius: 4px;
  }

  input.error,
  select.error {
    border: 1px solid red;
  }

  select {
    background-color: white;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
  }

  .select-wrapper {
    position: relative;

    .chevron {
      font-size: 1em;
      top: 11px;
      right: 10px;
      position: absolute;
      pointer-events: none;
    }
  }

  .error-message {
    color: red;
  }
}
