.ListContainer {
  height: 240px;
  background-color: hsl(0, 0%, 95%);
  border-radius: 4px;
  padding: 8px 6px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow-y: auto;

  p {
    word-break: break-word;
  }

  li {
    background-color: white;
    padding: 16px;
    border-radius: 4px;

    p:first-child {
      margin-bottom: 4px;
    }
  }

  .empty-text {
    display: none;
  }

  .empty-text:only-child {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  .delete-icon-container {
    display: flex;
  }

  .delete-icon {
    margin-left: auto;
    cursor: pointer;
  }
}
